* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 5%;
}

.forsideimg {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 9/16;
  border-radius: 90%;
  padding: 1rem;
}

@font-face {
  font-family: "chewyregular";
  src: url("fonts/chewy-regular-webfont.woff2") format("woff2"), url("fonts/chewy-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #957186;
  margin: 0.5rem;
  margin-top: 0.5rem;
}

h1 {
  color: #4c212a;
  font-family: "chewyregular";
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin-left: 1rem;
  font-family: "chewyregular";
  color: #4c212a;
  font-weight: 900;
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  margin-left: 1rem;
  font-family: "chewyregular";
  color: #4c212a;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 5%;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 5%;
}

.div {
  background-color: #d9b8c4;
  border-radius: 5%;
  aspect-ratio: 16/9;
}

.content {
  padding: 0.75rem;
}

@media (min-width: 800px) {
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .forsideimg {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 17.5/9;
    border-radius: 90%;
    padding: 1rem;
  }
}
